/* * {
  margin: 0;
  padding: 0;
} */

button{
    background-color: #fffce8;
}

#login{
    background-color: #b8b42d;
}

span{
    color:#c9d6ea;
}

.tag{
    background-color: #e8f7ee;
    font-size: 12px;
}

a{
    color: red;
}

/*Spanlarin altinda bulunan her a yi etkiler*/
span a{
    color: #b4869f;
}

/* section span a {
} */

.post a{
    color: #b4869f;
}
footer a {
    color: magenta;
}