/* * {
  margin: 0;
  padding: 0;
} */

button{
    background-color: #fffce8;
}

#login{
    background-color: #b8b42d;
}

span{
    color:#c9d6ea;
}

.tag{
    background-color: #e8f7ee;
    font-size: 12px;
}