  .example{
            display: flex;
            flex-direction: column;
        }
        .example div{
            width: 100px;
            height: 100px;
            background-color: green;
        }
        .a{
            display: flex;
            order: 1;
            align-self: flex-end;
        }
        .b{
            display: flex;
            order: -1;
        }
        .c{
            display: flex;
            order: 0;
        }