@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+HU&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Playwrite+HU&display=swap');


body{
    font-family: "Playwrite HU", cursive;
    background-color: aqua;
}

h1,h2{
    background-color: azure;
  font-family: "Noto Sans JP", sans-serif;
}
