body {
  font-family: 'Sans Source Pro', sans-serif; 
}

table {
    margin: auto;
}

th,td{
  width: 100px;
  padding: 6x;
  border: 1px solid black;
}
thead th{
  background-color: palegreen ;
}
th[colspan="3"]{
  background-color: violet;
}
th {
    background: lightblue;
}

td {
    background: khaki;
    text-align: center;
}